In [3]:
import psycopg2

In [10]:
connection = psycopg2.connect(user="root",
                                password="root",
                                host="127.0.0.1",
                                port="5432",
                                database="ny_taxi")

cursor = connection.cursor()

## Question 3. Count records
How many taxi trips were totally made on January 15?

Tip: started and finished on 2019-01-15.

Remember that lpep_pickup_datetime and lpep_dropoff_datetime columns are in the format timestamp (date and hour+min+sec) and not in date.

- 20689
- 20530
- 17630
- 21090

In [18]:
query = "SELECT COUNT(*) FROM green_taxi_data WHERE DATE(lpep_pickup_datetime) = '2019-01-15' AND DATE(lpep_dropoff_datetime) = '2019-01-15'"
cursor.execute(query)
answer = cursor.fetchone()[0]
print(answer)

20530

## Question 3. Largest trip for each day

Which was the day with the largest trip distance Use the pick up time for your calculations.

- 2019-01-18
- 2019-01-28
- 2019-01-15
- 2019-01-10

In [19]:
query = "SELECT lpep_pickup_datetime FROM green_taxi_data ORDER BY trip_distance DESC LIMIT 1"
cursor.execute(query)
answer = cursor.fetchone()[0]
print(answer)

2019-01-15 19:27:58

## Question 5. The number of passengers
In 2019-01-01 how many trips had 2 and 3 passengers?

- 2: 1282 ; 3: 266
- 2: 1532 ; 3: 126
- 2: 1282 ; 3: 254
- 2: 1282 ; 3: 274

In [22]:
query = "SELECT COUNT(*) FROM green_taxi_data WHERE passenger_count=2 AND DATE(lpep_pickup_datetime) = '2019-01-01'"
cursor.execute(query)
answer = cursor.fetchone()[0]
print(f'2: {answer}')

query = "SELECT COUNT(*) FROM green_taxi_data WHERE passenger_count=3 AND DATE(lpep_pickup_datetime) = '2019-01-01'"
cursor.execute(query)
answer = cursor.fetchone()[0]
print(f'3: {answer}')

2: 1282
3: 254

## Question 6. Largest tip
For the passengers picked up in the Astoria Zone which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

Note: it's not a typo, it's tip , not trip

- Central Park
- Jamaica
- South Ozone Park
- Long Island City/Queens Plaza

In [25]:
query = """
SELECT arrive.\"Zone\" 
FROM green_taxi_data t1 INNER JOIN  yello_taxi_zone start ON t1.\"PULocationID\" = start.\"LocationID\" 
                        INNER JOIN yello_taxi_zone arrive ON t1.\"DOLocationID\" = arrive.\"LocationID\" 
WHERE start.\"Zone\" = 'Astoria' 
ORDER BY t1.\"tip_amount\" 
DESC LIMIT 1
"""

cursor.execute(query)
answer = cursor.fetchone()[0]
print(answer)

Long Island City/Queens Plaza